@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="jumbotron">
    <h1>Track Assessments Application</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Track Assessments!</h2>
        <p>
            You are logged in as @UserManager.GetUserName(User).
        </p>
        <p>
            Track Assessments is an application that can track arbitrary
            environmental assessments using barcodes and geolocation.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/dave4mpls/TrackAssessments">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>