@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This app uses cookies to track who is logged in, and uses GPS and network information from your phone or device in order to automatically log the physical location of samples or packages that you are including in your assessments, so that you don't have to type in your location.</p>